/* Meta Ending Styles */

/* Canvas Transformation */
.game-finished {
    transform: scale(0.5) translateY(-15%);
    transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 20px;
    box-shadow: 
        0 0 30px rgba(0, 255, 0, 0.5),
        inset 0 0 50px rgba(0,0,0,0.5);
    border: 10px solid #333;
    position: relative;
    z-index: 10;
}
